@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.conteiner {
    background: #000;
    background-size: 400% 400%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.d1 {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

button {
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    letter-spacing: 6px;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
}

.btn1 {
    color: aquamarine;
    border: 2px solid aqua;
}

.btn2 {
    color: rosybrown;
    border: 2px solid rosybrown;
}

.btn3 {
    color: royalblue;
    border: 2px solid royalblue;
}

.btn4 {
    color: coral;
    border: 2px solid coral;
}


.btn1::before, .btn1::after, .btn2::before, .btn2::after, .btn3::before, .btn3::after, .btn4::before, .btn4::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 9px;
    background-color: #000;
    transform: skewX(50deg);
    transition: .4s linear;
}

.btn1::before, .btn2::before, .btn3::before, .btn4::before   {
    top: -2px;
    left: 10%;
}

.btn1::after, .btn2::after, .btn3::after, .btn4::after {
    bottom: -2px;
    right: 20%;
}

.btn1:hover::after, .btn2:hover::after, .btn3:hover::after, .btn4:hover::after {
    right: 85%;
}

.btn1:hover::before, .btn2:hover::before, .btn3:hover::before, .btn4:hover::before {
    left: 85%;
}